[Unit]
Description=Daily Backup Timer for KIT Website
Requires=backup.service

[Timer]
# Run daily at 3 AM
OnCalendar=daily
OnCalendar=*-*-* 03:00:00
Persistent=true

[Install]
WantedBy=timers.target
